.siniflar{
    display: flex;
    justify-content: space-between;
   
    
}
footer{
    display: flex;
    background-color: rgb(165, 165, 79);
    display: contents;
    margin: 10px;
    
}
.branches{
    display: flex;
    background-color: rgb(80, 155, 130);
}
.tickets{
    display: flex;
    background-color: bisque;
    
}
.home{
    display: flex;
    background-color:rgb(99, 96, 96);
   
}
h1{
    flex-direction: column;
    justify-content: center;
}
h2{
    font-weight: 900;
    font: optional;
    
}
.Baslik{
    display: flex;
    margin: 10 px;
    padding: 15px;
    justify-content: space-around;
    bottom: 30px;
    justify-content: center;
}
.anafoto img{

  justify-content: center;
 width: 70%;
 height: 70%;
 text-justify: inter-cluster;

}